/* Styles généraux de la page d'accueil */

/* Style du corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Fond sombre */
  color: white; /* Texte en blanc */
  margin: 0;
  padding: 0;
}

/* Styles de l'en-tête */
header {
  width: 100%;
  background-color: black;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 50px;
}

header nav a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header nav a.active {
  background-color: rgba(255, 215, 0, 0.2);
  color: white;
}

header nav a:hover {
  background-color: rgba(255, 215, 0, 0.4);
  color: black;
}

/* Styles pour le contenu principal */
main {
  padding-top: 80px; /* Ajouter de l'espace pour que l'en-tête ne cache pas le contenu */
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: gold;
}

p {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #ccc;
}

/* Bouton d'appel à l'action */
a.cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: gold;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px;
}

a.cta:hover {
  background-color: #ffd700;
}

/* Footer */
footer {
  background-color: black;
  padding: 15px;
  color: #ddd;
  text-align: center;
  margin-top: 40px;
}